*, *::before, *::after {
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  margin: 0;
}

body {
  background: #224b79;
  font-family: arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.content {
  font-family: monospace;
  font-size: 4em;
  flex: 1 0 auto;
  margin-top: 5em;
}

.calc-container {
  background: #888888;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding: 0.3em;
  box-shadow: 2px 2px 9px black;
}

.calc-display {
  font-size: 1.1em;
  background: #78b98e;
  border-radius: 4px;
  text-align: right;
  padding: 0 0.2em;
  border: 1px solid #3b3b3b;
  margin: 0.1em 0.055em 0.3em 0.055em;
  width: 10ch;
  height: 1.4em;
}

.calc-buttons-container {
  background: #888;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

.calc-button {
  font-family: inherit;
  font-size: 0.6em;
  margin: 0.1em;
  border-radius: 4px;
  border: 0;
  padding: 0.3em;
}

.calc-button:active {
  transform: scale(0.99);
}

.calc-function-button {
  background: #00b3b3;
}

.calc-function-button:hover {
  background: #009a9a;
}

.calc-function-button:active {
  background: #008080;
}

.calc-operator-button {
  background: #ffa500;
}

.calc-operator-button:hover {
  background: #e59500;
}

.calc-operator-button:active {
  background: #cc8400;
}

.calc-operator-button-active {
  background: #cc8400;
}

.calc-regular-button {
  background: #ebebeb;
}

.calc-regular-button:hover {
  background: #d2d2d2;
}

.calc-regular-button:active {
  background: #b9b9b9;
}

.footer {
  font-size: 0.8em;
  flex-shrink: 0;
  margin: 0.2em 1em;
  text-align: center;
  color: #d2d2d2;
}

.footer a {
  color: #ffa500;
}

.site-info {
  margin: 0;
}
